body {
  background-color: white;
  font-family: "comic sans ms";
  border: 2px solid black;
  max-width: 1200px;
  margin: 0px;
}

header {
  background-image: url('https://fruverse.files.wordpress.com/2014/11/background-dots.png');
  background-repeat: no-repeat;
  padding: 0px;
  margin: 10px;
  border: 2px solid black;
}

h1 {
  text-align: center;
  font-family: "trebuchet ms";
  font-size: 90px;
  font-style: italic;
  color: white;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 1px solid black;
  text-align: center;
}

.character {
  margin: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.char_thumb {
  height: 200px;
}

#character-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px 10px;
  border: 1px solid black;
}
